body {
  min-height: 100lvh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    194deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(229, 242, 224, 1) 0%,
    rgba(5, 36, 5, 1) 84%
  );
  background-repeat: no-repeat;
}
.cellNumber {
  display: inline-block;
  width: 3%;
  aspect-ratio: 1;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  align-content: center;
}
h1 {
  text-align: center;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3rem;
  font-size: 4rem;
  font-style: italic;
  color: rgba(2, 0, 36, 1);
}

h1 + button {
  display: block;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.75rem;
  background-color: #517b50;
  color: #d7e5d2;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: 0.2rem 0.2rem 1rem #486247;
}

h1 + button:hover {
  background-color: #bcd4b3;
  color: rgb(2, 0, 36);
  cursor: pointer;
}
.end {
  display: none;
}
.extracted {
    background: rgb(138,196,112);
    background: radial-gradient(circle, rgba(138,196,112,1) 0%, rgba(37,52,39,1) 100%);

}
.card {
  border: 1px solid red;
  background: #dccfcf;
  display: inline-block;
  margin: 2rem;
  width: 25%;
}

.numberInCard {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem;
  width: calc(100% / 6);
  text-align: center;
  border: 1px solid red;
}

.match {
  background-color: rgb(137, 182, 97);
  background-image: url("https://static.saporidinorcia.com/uploads/proprieta-nutrizionali-ceci.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

form {
  text-align: center;
  margin-top: 4rem;
}
form input {
  width: 3rem;
  height: 1.5rem;
}
form label {
  margin-right: 1rem;
  font-size: 1.5rem;
}

form button {
  margin-left: 1rem;
}
