@mixin title-big {
font-size: $f-xl;
font-weight: 1000;
}


$shadow-md: 5px 5px 8px rgb(19, 19, 19);
$shadow-sm: 2px 2px 4px rgb(19, 19, 19);

@mixin floating($radius, $shadow, $border: none){
    border-radius: $radius;
    box-shadow: $shadow;
    border: 1px solid $border;
}

@mixin griglia($direction: row){
display: flex;
flex-direction: $direction;
justify-content: space-around;


}



