header p {
  background-color: red;
  text-align: center;
}

main a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}

main a:hover {
  color: orange;
}

main {
  border: 1px solig grey;
}
main h1 {
  color: goldenrod;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
main h1.titolo {
  text-align: center;
}
main a {
  text-decoration: none;
}
main a:hover {
  background-color: purple;
}
main p {
  color: goldenrod;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 80px;
}

footer p {
  color: black;
  text-align: center;
}

html {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(222, 255, 244);
}

p {
  color: blue;
}

p {
  font-size: 1.5em;
}